body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#message {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

a{
    font-family: 'Poppins', sans-serif;
}

.login-section{
    background-color: rgb(26, 28, 29);
}

.register-section{
    background-color: rgb(26, 28, 29);
}
.footer{
    background-color: rgb(26, 28, 29);
}

.forgot-password {
    margin-top: -10px; /* Adjust spacing above */
    margin-bottom: 15px; /* Add spacing below */
    font-size: 0.9em; /* Slightly smaller font size */
    text-align: left; /* Align the text to the left */
}

.forgot-password a {
    color: #007bff; /* Bootstrap primary color */
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}